<h1>Add a Sub</h1>

<%= render 'shared/errors' %>
<form  action="<%= subs_url %>" method="post">
  <input name="_method" value="POST" type="hidden">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="Title">Title</label>
  <input type="text" id="Title"name="sub[title]" value="">

  <label for="Description">Description</label>
  <textarea name="sub[description]" value="">
  </textarea>
  <input type="submit" value="Add Sub">

</form>



