<div id="sub-show">
  <h1><%= @sub.title %></h1>
  <h3>description</h3>
  <h3><%= @sub.description %></h3>



  <% if is_logged? %> 
  <%= link_to 'Make New Post', new_post_url() %>
  <% end %>
  <ul>
   <% @sub.posts.each do |post| %>
    <li>
      <%= link_to post.title, post_url(post) %>
    </li>
   <% end %>
  </ul>


</div>
